#wholePage{
    display: flex;
    height: 100%;
    justify-content: space-between;
    color: #ffffff;
}

#settingDiv{
    background-color: #101014;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.settingsBlock{
    display: flex;
    flex-direction: column;
    background-color: #18181c;
    padding: 14px;
    border-radius: 8px;
    width: calc(100% - 28px);
}

.radioArea{
    display: flex;
    flex-direction: column;
}

#drawArea{
    display: flex;
    justify-content: center;
    align-items: center;
}